<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Login</h3>
            <div class="card">
                <form class="form-card" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
                            <input formControlName="email" type="text" id="email" name="email"
                                placeholder="Add a email">
                            <ng-container
                                *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
                                <p *ngIf="loginFormGroup.controls['email'].errors!['required']" class="error">Email is required!</p>
                                <p *ngIf="!loginFormGroup.controls['email'].errors!['required'] && loginFormGroup.controls['email'].errors!['email']" class="error">Email is not valid!</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Password<span class="text-danger"> *</span></label>
                            <input formControlName="password" type="password" id="password" name="password"
                                placeholder="Type your password">
                            <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
                                <p *ngIf="loginFormGroup.controls['password'].errors!['required']" class="error">Password is required</p>
                                <p *ngIf="loginFormGroup.controls['password'].errors!['minlength']" class="error">Password must be at least 6 characters</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="text-center fs-6"> Don't have an account yet? <a href="/register">Sign up</a> </div>

                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button [disabled]="loginFormGroup.invalid" type="submit" class=" btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>