<section>
    <div class="flex__books_item details_item">
        <div class="book_description">
            <h3>{{book.title}}</h3>
            <p><img class="details_img" src={{book.imageUrl}} /></p>
            <div> <button type="submit" class="controls_link" href="edit+id">Edit</button>
                <button type="submit" class="controls_link" (click)="onDelete($event, book._id)">Delete</button><br />
            </div>
        </div>
        <div>
            <h3 class="description">Description:</h3>
            <p class="description">{{book.description}}</p>
        </div>
    </div>
</section>