<section>
    <div class="details_item">
        <div class="book_description">
            <p><img class="details_img" src={{book.imageUrl}} /></p>

        </div>
        <div class="flex_div">
            <h3>{{book.title}}</h3>
            <h6>{{book.author}}</h6>
            <p class="description">{{book.description}}</p>
            <div>
                <button type="submit" class="controls_link" (click)="onEdit(book._id)">Edit</button>
                <button type="submit" class="controls_link" (click)="onDelete($event, book._id)">Delete</button><br />
            </div>
        </div>
    </div>
</section>