<section>
    <div class="flex__books_item details_item">
        <div class="book_description">
            <h3>{{book.title}}</h3>
            <p><img class="details_img" src={{book.imageUrl}} /></p>
            <!--ngIf is owner-->
            <div> <a class="controls_link" href="edit+id">Edit</a>
                <a class="controls_link" href="/dashboard" (click)="onDelete(book._id)">Delete</a><br />
            </div>
            <!-- {showLikeButton
            ? <button onClick={onLike} to="#">Like</button>
            : null
            }
            <div>
                <img src=""/>
                <span>Likes: {{likes}}</span>
            </div> -->
        </div>
        <div>
            <h3 class="description">Description:</h3>
            <p class="description">{{book.description}}</p>
        </div>
    </div>
</section>