.details_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
}

.details_item>div>p.description, .details_item>div>h3.description {
    margin-left: 30px;
}

.book_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.details_item>div>p>img {
    width: 300px;
}

.controls_link {
    text-decoration: none;
    color: white;
    background-color: rgb(85, 88, 90);
    padding: 3px 8px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
}

.flex__books_item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0px 8px 5px 8px;
}
