.details_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px 0;

}

.details_item>div>p.description, .details_item>div>h3.description {
    margin-left: 30px;
}

.book_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.details_item>div>p>img {
    width: 300px;
}

.controls_link {
    color: white;
    background-color: #623944;
    padding: 3px 10px;
    border-radius: 12px;
    text-align: center;

}

.description {
    width: 600px;
    padding: 30px 30px;
    text-align: justify;
    border: 5px solid #623944;
}

.flex_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 20px;
    text-align: center;
}