<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Add a Book entry</h3>
            <div class="card">
                <form class="form-card" #newBookForm="ngForm" (ngSubmit)="submitNewBook(newBookForm)">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Title<span class="text-danger"> *</span></label>
                            <input #bookName="ngModel" ngModel type="text" id="fname" name="fname" required
                                minlength="5" placeholder="Book title">
                            <ng-container *ngIf="bookName.touched && bookName.invalid">
                                <p *ngIf="bookName.errors!['required']" class="error">Title is required</p>
                                <p *ngIf="bookName.errors!['minlength']" class="error">Title must be at least 5
                                    characters long</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Description<span class="text-danger"> *</span></label>
                            <input ngModel #bookDescription="ngModel" required minlength="20" type="text" id="email"
                                name="email" placeholder="Book description">
                            <ng-container *ngIf="bookDescription.touched && bookDescription.invalid">
                                <p *ngIf="bookDescription.errors!['required']" class="error">Description is required</p>
                                <p *ngIf="bookDescription.errors!['minlength']" class="error">Description must be at least 20
                                    characters long</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Image<span class="text-danger"> *</span></label>
                            <input ngModel #bookImage="ngModel" required type="text" id="job" name="job"
                                placeholder="Image URL">
                            <ng-container *ngIf="bookImage.touched && bookImage.invalid">Image
                                <p *ngIf="bookImage.errors!['required']" class="error">Description is required</p>
                            </ng-container>
                        </div>
                    </div>
                    <span>
                        <select ngModel #bookType="ngModel" required name="type">
                            <option value="Fiction">Fiction</option>
                            <option value="Romance">Romance</option>
                            <option value="Mistery">Mistery</option>
                            <option value="Classic">Classic</option>
                            <option value="Other">Other</option>
                        </select>
                        <ng-container *ngIf="bookType.touched && bookImage.invalid">
                            <p *ngIf="bookType.errors!['required']" class="error">Image is required</p>
                        </ng-container>
                    </span>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button [disabled]="newBookForm.invalid" type="submit"
                                class=" btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>