<section>
    <form>
        <fieldset>
            <legend>Add new Book</legend>
            <p>
                <label for="title">Title</label>
                <span>
                    <input type="text" name="title" placeholder="Title" />
                </span>
            </p>
            <p>
                <label for="description">Description</label>
                <span>
                    <textarea name="description" placeholder="Description"></textarea>
                </span>
            </p>
            <p>
                <label for="image">Image</label>
                <span>
                    <input type="text" name="imageUrl" placeholder="Image" />
                </span>
            </p>
            <p>
                <label for="type">Type</label>
                <span>
                    <select name="type">
                        <option value="Fiction">Fiction</option>
                        <option value="Romance">Romance</option>
                        <option value="Mistery">Mistery</option>
                        <option value="Classic">Clasic</option>
                        <option value="Other">Other</option>
                    </select>
                </span>
            </p>
            <input type="submit" value="Add Book" />
        </fieldset>
    </form>
</section>