.home__heading {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 250px;
}

.controls_link {
    text-decoration: none;
    color: white;
    background-color: rgb(85, 88, 90);
    padding: 3px 8px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
}

.flex__books__list{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex__books_item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0px 8px 5px 8px;
}

.flex__books_item > h3 + p {
    margin: 0;
}