<nav class="navigation nav">
    <span class="logo">LOGO HERE</span>
    <ul class="navigation">
        <li><a class="nav_link" href="/dashboard">Dashboard</a></li>
        <li><a class="nav_link" href="/create">Add</a></li>
        <li><a class="nav_link" href="/my-books">My books</a></li>
        <li><a class="nav_link" href="/login">Login</a></li>
        <li><a class="nav_link" href="/register">Register</a></li>
        <li><a class="nav_link" href="javascript:void(0)">Logout</a></li>
    </ul>
</nav>